# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
caffe-fast-rcnn
slurm-*.out
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
*DS_Store
*pylintrc
